.venv
.DS_Store
.DS_Store*
**/.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

#pycache
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz
**/*.pywz
**/*.pyzw
**/*.pyzwz
**/*.pyzwzw

#pytorch weights
**/*.pth
**/*.pt

*venv